doc/schema/Insurance/HMR_InsuranceCommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp2 U (http://www.altova.com) by Sabre Deutschland Marketing GmbH (Sabre Deutschland Marketing GmbH) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by dcs (dcs / software development) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hansemerkur.de/rvm/ota/ws/types"
		   targetNamespace="http://hansemerkur.de/rvm/ota/ws/types"
		   elementFormDefault="qualified" version="2.001" id="OTA2005B">
	<xs:include schemaLocation="../Common/HMR_CommonTypes.xsd"/>
	<xs:include schemaLocation="../Common/HMR_SimpleTypes.xsd"/>
	<xs:include schemaLocation="../Common/HMR_CommonPrefs.xsd"/>
	<xs:include schemaLocation="../Profile/HMR_Profile.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:attributeGroup name="PlanID_Group">
		<xs:attribute name="PlanID" type="StringLength1to20" use="optional"/>
		<xs:attribute name="Name" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">"Not in use"</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Type" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">"Not in use" Specifies the sub-plan or type of the insurance plan being purchased.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TypeID" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">"Not in use" Unique ID for the sub-plan or type of the insurance plan being purchased (if known).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="BoundedAffiliationsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines an entity that provides travel services or benefits to a customer or company.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="AffiliationsType"/>
			<!--xs:sequence>
					<xs:element name="Organization" type="OrganizationType" minOccurs="0" maxOccurs="5"/>
					<xs:element name="Employer" type="EmployerType" minOccurs="0" maxOccurs="5"/>
					<xs:element name="TravelArranger" type="TravelArrangerType" minOccurs="0" maxOccurs="5"/>
					<xs:element name="TravelClub" type="TravelClubType" minOccurs="0" maxOccurs="5"/>
					<xs:element name="Insurance" type="InsuranceType" minOccurs="0" maxOccurs="5"/>
					<xs:element ref="TPA_Extensions" minOccurs="0"/>
				</xs:sequence-->
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CoverageLimitType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about the insurance coverage limits that applies to all covered travelers</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Deductible" minOccurs="0" type="CurrencyAmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">"Not in use" The amount of out-of-pocket expense a covered individual must pay per claim.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyLimit" minOccurs="0" type="CurrencyAmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">"Not in use" The maximum currency amout of available coverage for the policy.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndividualLimit" minOccurs="0" type="CurrencyAmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">"Not in use" The maximum amount of available coverage for a covered individual.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TariffDetails" minOccurs="0" type="TariffDetailsType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Details of requested tariff.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
    <xs:attribute name="TariffCategory" type="TariffCategoryType" use="optional">
  	  <xs:annotation>
				<xs:documentation>SINGLE_PARENT = Alleinerziehend, SINGLE = Einzelperson, , FAMILY = Familie, OBJECT = z.B. Ferienwohnung</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExcludeTariffCategory" type="TariffCategoryType" use="optional">
		  <xs:annotation>
				<xs:documentation>Excluded TariffCategory: SINGLE_PARENT = Alleinerziehend, SINGLE = Einzelperson, FAMILY = Familie, OBJECT = z.B. Ferienwohnung</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CoverageLevel" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">"Not in use" Indicates a level of coverage for the plan benefit e.g. Silver, Gold, Platinum</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CoverageType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the type of coverage or benefit requested by the covered individuals. Refer to OTA Code List Coverage Type (COV).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="UnlimitedCoverage" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">"Not in use" Flag to indicate unlimited coverage for the specific benefit is available/requested</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Covered" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">"Not in use" Flag to indicate coverage type is available/requested</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Contingent" type="ContingentType">
			<xs:annotation>
				<xs:documentation xml:lang="en">Required for contingent insurance</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="EffectiveExpireOptionalDateGroup"/>
	</xs:complexType>
	<xs:simpleType name="TariffCategoryType">
		<xs:annotation>
			<xs:documentation>SINGLE_PARENT = Alleinerziehend, SINGLE = Einzelperson, Familie, Objekt</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="SINGLE_PARENT"/>
			<xs:enumeration value="SINGLE"/>
			<xs:enumeration value="FAMILY"/>
			<xs:enumeration value="OBJECT"/>
			<xs:enumeration value="GROUP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CoveredTravelerType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains identifying information as well as coverage requirements and journey information for each individual requesting coverage by the insurance plan.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CoveredPerson" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies an individual requesting to be covered by the insurance policy. "use only: NamePrefix, GivenName, NameTitle and Surname - at most one value of each"</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PersonNameType">
							<xs:choice>
								<xs:annotation>
									<xs:documentation>BirthDate or Age of person - one has to be specified</xs:documentation>
								</xs:annotation>
								<xs:element name="BirthDate" type="xs:date" minOccurs="0"/>
								<xs:element name="Age" type="xs:nonNegativeInteger" minOccurs="0"/>
							</xs:choice>
							<xs:attribute name="Relation" type="StringLength1to16" use="optional">
								<xs:annotation>
									<xs:documentation>"not in use"</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="CompanyName" type="StringLength0to128" minOccurs="0"/>
			<xs:element name="Email" type="EmailType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines an electronic mail address of the traveler.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="AddressInfoType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines a physical address for the traveler.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Telephone" type="TelephoneInfoType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">"Not in use" Identifies a telephone number for the traveler.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CitizenCountryName" type="CitizenCountryNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Country of citizenship for the individual requesting to be covered by the insurance policy.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Document" type="DocumentType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">"Not in use" Contains information about documents used for travel, such as passports, driver's licenses or social security numbers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmergencyContact" type="ContactPersonType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">"Not in use" Defines an emergency contact person for traveler.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Beneficiary" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>"Not in use"</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="PersonNameType">
										<xs:attributeGroup ref="BirthDateGroup"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Address" type="AddressInfoType" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="Relation" type="StringLength1to16"/>
					<xs:attribute name="BenefitPercent" type="Percentage"/>
					<xs:attributeGroup ref="ID_OptionalGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Unique identifying code for beneficiary e.g. Social Security Number.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
			<xs:element name="IndCoverageReqs" type="IndCoverageReqsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Contains certain traveler-specific information required for quoting or booking an insurance plan.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">ID used to assign a Tariff.</xs:documentation>
			</xs:annotation>
			<!-- BE 12.10.05 -->
		</xs:attribute>
		<xs:attribute name="RPH" type="RPH_Type" use="optional"/>
	</xs:complexType>
	<xs:complexType name="DistribPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Type of ticket distribution to be used with this collection of preferences.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attributeGroup ref="PreferLevelGroup"/>
				<xs:attribute name="DistribType" type="OTA_CodeType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Ticket distribution method (e.g. Fax, Email, Courier, Mail, Airport_Pickup, City_Office, Hotel_Desk, WillCall). Refer to OTA Code List Distribution Type (DTB).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IndCoverageReqsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains certain traveler-specific information required for quoting or booking an insurance plan.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IndTripCost" minOccurs="0" type="CurrencyAmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Estimated trip cost, or the total price of the journey for the traveler.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightAccidentAmount" minOccurs="0" type="CurrencyAmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Amount of flight accident protection (FAP) requested by the traveler (if offered by the insurance plan).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripAccidentAmount" minOccurs="0" type="CurrencyAmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Amount of trip accident protection requested by the traveler (if offered by the insurance plan).</xs:documentation>
				</xs:annotation>
				<!-- BE 12.10.05 -->
			</xs:element>
			<xs:element name="CoverageLuggage" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Amount of luggage protection requested by the traveler (if offered by the insurance plan).</xs:documentation>
				</xs:annotation>
				<!-- BE 12.10.05 -->
				<xs:complexType>
					<xs:choice>
						<xs:element name="CoveredLuggageAmount" minOccurs="0" type="CurrencyAmountType">
							<xs:annotation>
								<xs:documentation xml:lang="en">Total cost to insure luggage/equipment  (if offered by the insurance plan).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CoveredLuggage" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">"not in use" Contains descriptions of luggage or equipment for which the traveler has requested additional baggage/equipment coverage (if offered by the insurance plan).</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LuggageItem" maxOccurs="99">
										<xs:annotation>
											<xs:documentation xml:lang="en">Contains a description and estimated value for a specific piece of luggage/equipment for which the traveler would like additional insurance.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="LuggageDescription" type="FreeTextType">
													<xs:annotation>
														<xs:documentation xml:lang="en">A detailed description of what the piece of luggage/equipment contains.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ItemDeclaredValue" type="CurrencyAmountType">
													<xs:annotation>
														<xs:documentation xml:lang="en">Estimated value of the piece of luggage/equipment.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="LuggagePremium" minOccurs="0" type="CurrencyAmountType">
													<xs:annotation>
														<xs:documentation xml:lang="en">Additional cost to insure luggage/equipment.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="LuggageType" type="StringLength1to16">
												<xs:annotation>
													<xs:documentation xml:lang="en">Category to describe the type of luggage e.g. Scuba, camera, computer.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="PreexistingConditions" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">"not in use" Contains a description of the traveler's pre-existing conditions, the diagnosis date of the condition, and the date of last treatment.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PreexistingCondition" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">Contains information on a single pre-existing condition.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="FreeTextType">
										<xs:attribute name="DiagnosisDate" type="xs:date">
											<xs:annotation>
												<xs:documentation xml:lang="en">Date first diagnosed with condition.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="LastTreatmentDate" type="xs:date">
											<xs:annotation>
												<xs:documentation xml:lang="en">Most recent date treatment was received for condition.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TravelReason" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="Reason" type="StringLength1to255" use="required">
						<xs:annotation>
							<xs:documentation>Denotes the reason of travel for the particular traveler. A list of possible values
							can be obtained from the service provider.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="HealthInsuranceObligation" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation>Deprecated</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="SpecificTravelerInformation" minOccurs="0" maxOccurs="128">
				<xs:annotation>
					<xs:documentation>Contains additional specific traveler information which might be required for quoting or booking an insurance plan.
					A service provider <em>must</em> document the list of possible information, or specify that no specific information is required.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="type" type="StringLength1to128" use="required">
						<xs:annotation>
							<xs:documentation>the type of traveler information provided in this element. Must be one of the values documented
							by the service provider.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="value" type="StringLength1to128" use="required">
						<xs:annotation>
							<xs:documentation>the actual traveler information provided in this element.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsCoverageDetailType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides vendor with information about the traveler(s)' requirements for insurance coverage.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CoverageRequirements" type="RequestedCoveragesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Container for any insurance coverage requirements shared by all travelers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalTripQuantity" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">"Not in use" The number of trips the traveler(s) plan on taking during the period of coverage (Multi-Trip plans only).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="QuantityGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="MaximumTripLength" type="TimeDurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">"Not in use" The maximum trip length the traveler(s) plan on taking during the period of coverage (Multi-Trip plans only).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalTripCost" type="CurrencyAmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Estimated trip cost, or the total price of the journey for the traveler(s).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CoveredTrips" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Container for any information about the trip(s) for which the traveler(s) are requesting coverage. "One trip is required"</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CoveredTrip" type="TripFeaturesType" maxOccurs="99"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeliveryPref" type="DistribPrefType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>"Not in use"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateOfUnderwriting" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date of underwriting.</xs:documentation>
					<xs:documentation xml:lang="de">Versicherungsabschlussdatum.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="EffectiveExpireOptionalDateGroup"/>
		<xs:attribute name="Type" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="SingleTrip"/>
					<xs:enumeration value="MultiTrip"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="AutoRenew" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>"Not in use"</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="InsCoverageType">
		<xs:sequence>
			<xs:element name="CoveredTravelers" type="CoveredTravelersType"/>
			<xs:element name="InsCoverageDetail" type="InsCoverageDetailType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Provides vendor with information about the traveler(s)' requirements for insurance coverage.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="PlanID_Group"/>
	</xs:complexType>
	<xs:complexType name="InsuranceCustomerType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains data on the buyer and others covered by the requested insurance services.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CustomerType">
				<xs:sequence>
					<xs:element name="CompanyName" type="xs:string" minOccurs="0">
						<!-- BE 12.10.05 -->
					</xs:element>
				</xs:sequence>
				<xs:attributeGroup ref="ID_OptionalGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProviderDetailType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Name of the insurance company offering the product.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ServiceProvider" type="ServiceProviderType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Name of the insurance company offering the product.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuoteType">
		<xs:annotation>
			<xs:documentation xml:lang="en">insurance quote</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Services" type="InsuranceServicesType">
				<xs:annotation>
					<xs:documentation xml:lang="en">insurance services</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuoteReferences" type="QuoteReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">References between Quotes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>ID of current quote</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="QuoteReferenceType">
		<xs:sequence>
			<xs:element name="QuoteIDRef" type="xs:positiveInteger" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Referenced Quote Id</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ReferenceType" type="ReferenceType" use="required">
			<xs:annotation>
				<xs:documentation>Type of reference</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ReferenceType">
		<xs:annotation>
			<xs:documentation>Type of a Quote reference</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="MAIN_PRODUCT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ExtendedQuoteType">
		<xs:annotation>
			<xs:documentation xml:lang="en">extended insurance quote type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Services" type="InsuranceServicesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">insurance services</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>ID of current quote</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExtensionType" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Type of Extended Quote, e.g. FOLGE for products and premiums changing after a year</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PlanCostType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains information about the total price of the insurance plan.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BasePremium" minOccurs="0" type="CurrencyAmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">"Not in use" Cost for the insurance coverage alone (excluding any fees/taxes).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Charges" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">"Not in use" A container for any additional charges to the cost of the insurance plan.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Charge" type="FeeType" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">Contains a description and value of a single additional charge to the cost of the plan.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="CurrencyAmountGroup"/>
	</xs:complexType>
	<xs:complexType name="InsuranceServicesType">
		<xs:sequence>
			<xs:element name="Service" type="InsuranceServiceType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Single Insurance service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalPremium" type="CurrencyAmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Total Premium for all Services.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstRatePremium" type="CurrencyAmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">First rate of Total Premium.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WithheldTotalPremium" type="CurrencyAmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Withheld Total Premium for all Services. In case of cancellation the not refunded premium.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtendedInsuranceServicesType">
		<xs:sequence>
			<xs:element name="TotalPremium" type="CurrencyAmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Total Premium for all Services.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstRatePremium" type="CurrencyAmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">First rate of Total Premium.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlanRestrictionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains all restrictions to coverage by the quoted or booked plan.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PlanRestriction" maxOccurs="99">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="FreeTextType">
							<xs:attributeGroup ref="OptionalCodeOptionalNameGroup"/>
							<xs:attribute name="CodeContext" type="StringLength1to32" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TariffType">
		<xs:annotation>
			<xs:documentation>type for tariff</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TariffCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>tariff key</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Premium" type="CurrencyAmountType">
				<xs:annotation>
					<xs:documentation>tariff premium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WithheldPremium" type="CurrencyAmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Withheld Tariff Premium. In case of cancellation the not refunded premium.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TariffDescription" type="DescriptionType">
				<xs:annotation>
					<xs:documentation>tariff description with title, text and url</xs:documentation>
				</xs:annotation>
				<!-- BE 12.10.05 -->
			</xs:element>
			<xs:element name="TariffDetails" minOccurs="0" type="TariffDetailsType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Details of requested tariff.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TariffDetailsType">
		<xs:sequence>
			<xs:element name="WaitingPeriod" type="Numeric1to999" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Number of days before compensation payment starts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element  name="CompensationAmount" type="CurrencyAmountType"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Sickness daily allowance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Coverage" type="xs:string"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Tariff Coverage.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:attributeGroup name="CoverageDetails">
	</xs:attributeGroup>
	<xs:complexType name="InsuranceServiceType">
		<xs:sequence>
			<xs:element name="Tariff" type="TariffType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Tariff Information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelerAllocations" type="TravelerAllocationsType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Container to allocate the current tariff for the specified travelers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceTotalPremium" type="CurrencyAmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Service Premium - depending on tariff allocation by traveler</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WithheldServiceTotalPremium" type="CurrencyAmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Withheld Total Premium for all Services. In case of cancellation the not refunded premium.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceProvider" type="ServiceProviderType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Describes the company offering the service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DynamicPremiumOfferId" type="StringLength0to64" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Dynamic Premium Offer Id, if available.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="SourceServiceID" type="xs:positiveInteger">
			<xs:annotation>
				<xs:documentation>Wenn aus einem Service aus Request 2 Services werden => wird unter IDRequest die originale ID festgelhaten</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Quantity" type="Numeric1to9999" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Number of units purchased.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RequestedCoveragesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Collection of insurance coverage requirements from the individuals requesting coverage.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CoverageRequirement" type="CoverageLimitType" maxOccurs="20">
				<xs:annotation>
					<xs:documentation xml:lang="en">Insurance coverage requirements shared by all travelers.</xs:documentation>
					<xs:documentation xml:lang="en">Insurance coverage requirements from the individuals requesting coverage.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceProviderType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Describes the company offering the service.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="CompanyNameType">
				<xs:attribute name="Brand" type="StringLength1to16" use="optional">
					<xs:annotation>
						<xs:documentation>"Specific brand of the company."</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="NoBrand" type="xs:boolean" use="optional" default="false">
					<xs:annotation>
						<xs:documentation>"If TRUE no brand has be set"</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SearchTravelerType">
		<xs:sequence>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>BirthDate or Age of traveler - one has to be specified</xs:documentation>
				</xs:annotation>
				<xs:element name="BirthDate" type="xs:date" minOccurs="0"/>
				<xs:element name="Age" type="xs:nonNegativeInteger" minOccurs="0"/>
			</xs:choice>
			<xs:element name="Address" type="AddressInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>"not in use"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CitizenCountryName" type="CitizenCountryNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>"not in use"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndCoverageReqs" type="IndCoverageReqsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Traveler ID  to assign a charge to a traveler.</xs:documentation>
			</xs:annotation>
			<!-- BE 12.10.05 -->
		</xs:attribute>
		<xs:attribute name="Relation" type="StringLength0to32" use="optional">
			<xs:annotation>
				<xs:documentation>"not in use"</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Gender" type="AlphaLength1" use="optional">
			<xs:annotation>
				<xs:documentation>"not in use" </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NamePrefix" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Salutation of honorific. (e.g., Mr. Mrs., Ms., Miss, Dr.) </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TripFeaturesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about the traveler(s) journey that is necessary for quoting/booking the insurance. Start and End or Duration are required attributes.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Destinations" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Container for any number of destinations that the traveler(s) will reach during their journey. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Destination" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">"use only DestinationCategory" Identifies a single destination point of the traveler(s) journey as well as arrival and departure dates.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="AddressType">
										<xs:sequence>
											<xs:element name="DestinationCategory" type="DestinationCategoryType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Destination description with CountryCode, AirportCode and Region</xs:documentation>
												</xs:annotation>
												<!-- BE 12.10.05 -->
											</xs:element>
										</xs:sequence>
										<xs:attribute name="ArrivalDate" type="xs:date" use="optional"/>
										<xs:attribute name="DepartureDate" type="xs:date" use="optional"/>
										<xs:attributeGroup ref="AreaID_Group"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Activities" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">"Not in use" Container for any number of activities that traveler(s) will engage in while on their journey.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Activity" type="StringLength1to32" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">Identifies a single Activity that traveler(s) will engage in while on their journey.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Operators" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Container for any number of companies or organizations operating the trips, tours or cruises included in the traveler(s) journey</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Operator" type="CompanyNameType" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">"use only CompanyShortName" Company or organization operating the trip/tour/cruise</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="Coverage" minOccurs="0" type="CurrencyAmountType">
					<xs:annotation>
						<xs:documentation>Same Coverage for TotalCoveredLuggage and CarCurrentAmount</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:element name="TotalCoveredLuggage" minOccurs="0" type="CurrencyAmountType">
						<xs:annotation>
							<xs:documentation>Total luggage coverage</xs:documentation>
						</xs:annotation>
						<!-- BE 02.11.05 -->
					</xs:element>
					<xs:element name="CarCurrentAmount" minOccurs="0" type="CurrencyAmountType">
						<xs:annotation>
							<xs:documentation>Coverage, represents current market value of the car</xs:documentation>
						</xs:annotation>
						<!-- BE 12.10.05 -->
					</xs:element>
				</xs:sequence>
			</xs:choice>
			<xs:element name="FlightInformation" minOccurs="0">
			  <xs:complexType>
				<xs:sequence>
				  <xs:element name="OutboundFlightDetails" minOccurs="0">
					<xs:complexType>
					  <xs:sequence>
						<xs:element name="OutboundFlightDetail" maxOccurs="unbounded" minOccurs="1">
						  <xs:complexType>
							<xs:simpleContent>
							  <xs:extension base="xs:string">
								<xs:attribute type="xs:string" name="FlightNumber" use="optional" />
								<xs:attribute type="xs:date" name="FlightDate" use="optional" />
							  </xs:extension>
							</xs:simpleContent>
						  </xs:complexType>
						</xs:element>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				  <xs:element name="ReturnFlightDetails" minOccurs="0">
					<xs:complexType>
					  <xs:sequence>
						<xs:element name="ReturnFlightDetail" maxOccurs="unbounded" minOccurs="1">
						  <xs:complexType>
							<xs:simpleContent>
							  <xs:extension base="xs:string">
								<xs:attribute type="xs:string" name="FlightNumber" use="optional"/>
								<xs:attribute type="xs:date" name="FlightDate" use="optional"/>
							  </xs:extension>
							</xs:simpleContent>
						  </xs:complexType>
						</xs:element>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				</xs:sequence>
			  </xs:complexType>
			</xs:element>			
		</xs:sequence>
		<xs:attributeGroup ref="DateTimeSpanGroup"/>
		<xs:attribute name="DepositDate" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>"Not in use"</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FinalPayDate" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>"Not in use"</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BookingConfirmation" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Trip booking confirmation date.</xs:documentation>
			</xs:annotation>
			<!-- BE 12.10.05 -->
		</xs:attribute>
		<xs:attribute name="TravelType" type="TravelTypeType" use="optional">
			<xs:annotation>
				<xs:documentation>Transportation type: BUS | FLIGHT | SHIP | TRAIN | OTHER</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="TravelTypeType">
		<xs:annotation>
			<xs:documentation>Transportation type: BUS | FLIGHT | SHIP | TRAIN | OTHER</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="BUS"/>
			<xs:enumeration value="FLIGHT"/>
			<xs:enumeration value="SHIP"/>
			<xs:enumeration value="TRAIN"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InsurancePaymentFormType">
		<xs:annotation>
			<xs:documentation>AI | CC | BA | DB | PP | FI</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="AGENCY_ENCASHMENT"/>
			<xs:enumeration value="CREDITCARD"/>
			<xs:enumeration value="BANK_ACCOUNT"/>
			<xs:enumeration value="DIRECT_BILL"/>
			<xs:enumeration value="PAYPAL"/>
			<xs:enumeration value="COMPANY_ENCASHMENT"/>
		</xs:restriction>
		<!-- BE 07.12.05 -->
	</xs:simpleType>
	<!-- BE 26.10.05 -->
	<!--xs:complexType name="DestinationCategoryType">
		<xs:choice>
			<xs:element name="Country">
				<xs:annotation>
					<xs:documentation xml:lang="en">2 character country code as defined in ISO3166.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[a-zA-Z]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Airport">
				<xs:annotation>
					<xs:documentation xml:lang="en">3 character aiport code IATA.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[a-zA-Z]{3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Region">
				<xs:annotation>
					<xs:documentation xml:lang="en">Region d=Deutschland, e=Europa and w=World</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="d"/>
						<xs:enumeration value="e"/>
						<xs:enumeration value="w"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType-->
	<xs:complexType name="DestinationCategoryType">
		<xs:choice>
			<xs:element name="Country" type="CountryCodeISO3166" minOccurs="0">
				<xs:annotation>
					<xs:documentation>2 character country code as defined in ISO3166</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Airport" type="AirportCodeIATA" minOccurs="0">
				<xs:annotation>
					<xs:documentation>3 character aiport code (IATA)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Region" minOccurs="0" type="RegionType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RegionType">
		<xs:simpleContent>
			<xs:extension base="RegionEnumType">
				<xs:attribute name="IncludeExtendedRegions" type="xs:boolean" default="true">
					<xs:annotation>
						<xs:documentation>flag indicates that it will be searched in extended regions. If set to true (default) requests
							with 'w' will
							also return product for wouk.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="RegionEnumType">
		<xs:annotation>
			<xs:documentation>Germany, Europe, World, Word without USA and Canada (only useful if you distinguish between w and wouk,
				otherwise use only w).
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="d"/>
			<xs:enumeration value="e"/>
			<xs:enumeration value="w"/>
			<xs:enumeration value="wouk"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCodeISO3166">
		<xs:annotation>
			<xs:documentation xml:lang="en">2 character country code as defined in ISO3166.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirportCodeIATA">
		<xs:annotation>
			<xs:documentation xml:lang="en">3 character aiport code IATA.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContingentType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contingent maximum length</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="1"/>
			<xs:pattern value="\d{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DescriptionType">
		<xs:sequence>
			<xs:element name="Title" type="xs:string"/>
			<xs:choice>
				<xs:element name="Description" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>description.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="URL" minOccurs="0" maxOccurs="unbounded" type="TypedUrlType">
					<xs:annotation>
						<xs:documentation>Link to description.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TravelerAllocationType">
		<xs:attribute name="ID" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>Unique identifier to specify the allocation of one traveler for one tariff.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TravelerIDRef" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>Reference to SearchTraveler ID or CoveredTraveler ID - to specify the traveler this tariff is allocated for.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CoInsured" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>flag indicates if the traveler is co-insured (default false)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RequestServicesType">
		<xs:sequence>
			<xs:element name="Service" type="RequestServiceType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>a service description: contains reference to selected tariff or complete insurance plan AND  the traveler allocation</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<!-- BE 21.10.05-->
	</xs:complexType>
	<xs:complexType name="RequestServiceType">
		<xs:sequence>
			<xs:element name="QuotedTariff" type="QuoteTariffType"/>
			<xs:element name="TravelerAllocations" type="TravelerAllocationsType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Container to allocate the current tariff for the specified travelers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DynamicPremiumOfferId" type="StringLength0to64" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Dynamic Premium Offer Id, if available.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>Unique identifier (one for each service request) to identify the service and additional sorting information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Quantity" type="Numeric1to9999" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Number of units purchased.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TravelerAllocationsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container to allocate the current tariff for the specified travelers.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TravelerAllocation" type="TravelerAllocationType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Allocate the current tariff for one traveler and specify if the traveler is co-insuranced.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuoteTariffType">
		<xs:annotation>
			<xs:documentation>Tarif</xs:documentation>
		</xs:annotation>
			<xs:choice>
				<xs:element name="TariffCode" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>tariff key</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PlanCodeRef" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>reference to ths PlanID of a AvailablePlan</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TariffDetails" minOccurs="0" type="TariffDetailsType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Details of requested tariff.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
	</xs:complexType>
	<xs:complexType name="EmailPolicyType">
		<xs:sequence>
			<xs:element name="AdditionalEmail" type="xs:string" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>If any additional email about the policy content might be send (e.g. to travel agent) - the email address has to be set here (don't set the email of the InsuranceCustomer)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationType">
		<xs:attribute name="Requested" type="xs:boolean" default="true">
			<xs:annotation>
				<xs:documentation xml:lang="en">Flag that indicated that this booking is meant to be a reservation request only.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="InsuredPersonSearchCritType">
		<xs:complexContent>
			<xs:extension base="PersonNameType">
				<xs:attribute name="ExactMatch" type="xs:boolean" use="optional" default="false">
					<xs:annotation>
						<xs:documentation xml:lang="en">It TRUE the returned names have to match exactly the submitted name.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CoveredTripSearchCritType">
		<xs:sequence>
			<xs:element name="StartDate" type="PeriodType" minOccurs="0"/>
			<xs:element name="EndDate" type="PeriodType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PeriodType">
		<xs:sequence>
			<xs:element name="FromDate" type="xs:dateTime"/>
			<xs:choice>
				<xs:element name="ToDate" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="Duration" type="DurationType" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PolicyDetailSearchCritType">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="PolicyNumber" type="PolicyRangeType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Unique policy number assigned by the insurance company upon issuing the policy.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ExternalPolicyNumber" type="StringLength1to32">
					<xs:annotation>
						<xs:documentation xml:lang="en">The unique number of an associated policy in an external system.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OfferIdList" type="OfferIdListTyp">
					<xs:annotation>
						<xs:documentation xml:lang="en">List of offer IDs resulting in booking requests.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="OrderDate" type="PeriodType" minOccurs="0"/>
			<xs:element name="CancellationDate" type="PeriodType" minOccurs="0"/>
			<xs:element name="TravelAgent" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Expedient</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--xs:element name="CancellationDate" type="PeriodType" minOccurs="0"/-->
		</xs:sequence>
		<xs:attribute name="Status" type="StatusType" use="optional">
			<xs:annotation>
				<xs:documentation>Policy state: CONFIRMED, CANCELLED, PARTIALLY_CANCELLED, RESERVED, ANNULLED</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OfferIdListTyp">
		<xs:sequence>
			<xs:element name="OfferId" type="StringLength1to255" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">ID referring the corresponding offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ReservationExpirationAction">
		<xs:annotation>
			<xs:documentation>The action taken by the system when a booking reservation expires</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="COMMIT"/>
			<xs:enumeration value="ROLLBACK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusType">
		<xs:annotation>
			<xs:documentation>Policy state: CONFIRMED, CANCELLED, PARTIALLY_CANCELLED, RESERVED, ANNULLED</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="CONFIRMED"/>
			<xs:enumeration value="CANCELLED"/>
			<xs:enumeration value="PARTIALLY_CANCELLED"/>
			<xs:enumeration value="RESERVED"/>
			<xs:enumeration value="ANNULLED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CancelReasonType">
		<xs:annotation>
			<xs:documentation>Cancellation reasons: Customer oder Supplier cancellation or supplier insolvency. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="CUSTOMER_CANCELLATION"/>
			<xs:enumeration value="OPERATOR_CANCELLATION"/>
			<xs:enumeration value="INSOLVENCY"/>
			<xs:enumeration value="GOODWILL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReservationDetailsType">
		<xs:attribute name="ExpirationDate" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">The date and time when the reservation expires.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExpirationAction" type="ReservationExpirationAction" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">The action taken by the system when the reservation expires</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- BE 27.10.05 -->
	<xs:complexType name="PolicyDetailType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains such specific, policy-identifying details such as policy number, reference number, effective and expiration dates.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PolicyNumber" type="UniqueID_Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">Unique policy number assigned by the insurance company upon issuing the policy. "set type = 18 for insurance, set policy number as ID - other not in use"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExternalPolicyNumber" type="StringLength1to32" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">The unique number of an associated policy in an external system. Such a number can optionally be specified when creating a booking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefNumber" type="UniqueID_Type" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">"Not in use" Internal vendor reference number for policy.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlanRestrictions" type="PlanRestrictionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Container for any restrictions to coverage of the insurance plan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyDetailURL" type="URL_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies the location of a file containing policy coverage details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="StatusType">
				<xs:annotation>
					<xs:documentation>Policy state: CONFIRMED, CANCELLED, RESERVED, ANNULLED</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationDetails" type="ReservationDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>additional details about a booking with status RESERVED</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyPeriod" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>duration of the policy: JV= Jahresversicherung | K= Kurztrip </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParentPolicyNumber" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>parent policy was canceled - this is the new policy</xs:documentation>
				</xs:annotation>
				<!-- BE 12.10.05 -->
			</xs:element>
			<xs:element name="ChildPolicyNumber" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>this policy was canceled - the child policy is the new one</xs:documentation>
				</xs:annotation>
				<!-- BE 12.10.05 -->
			</xs:element>
			<xs:element name="AdditionalPolicyInfo" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Any additional booking information, e.g. order number of used bookingtool.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OfferId" type="StringLength1to255" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">ID referring the corresponding offer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="OrderDate" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">The date the insurance booking occured on.</xs:documentation>
			</xs:annotation>
			<!-- BE 12.10.05 (set as required)-->
		</xs:attribute>
		<xs:attribute name="OrderTravelAgent" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Expedient booking the insurance contract. </xs:documentation>
			</xs:annotation>
			<!-- BE 12.10.05 -->
		</xs:attribute>
		<xs:attribute name="CancelDate" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The date the insurance contract was canceled.</xs:documentation>
			</xs:annotation>
			<!-- BE 12.10.05 -->
		</xs:attribute>
		<xs:attribute name="CancelTravelAgent" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Expedient canceled the insurance contract.</xs:documentation>
			</xs:annotation>
			<!-- BE 12.10.05 -->
		</xs:attribute>
		<xs:attribute name="WaiverOfAdvice" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">True if the customer expressly waived his right to advice with regard to this particular booking.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="EffectiveExpireOptionalDateGroup"/>
	</xs:complexType>
	<xs:complexType name="CancelTravelerType">
		<xs:attribute name="TravelerIDRef" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
	<xs:complexType name="CancelServiceType">
		<xs:attribute name="ServiceIDRef" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
	<xs:complexType name="CancelAllocationType">
		<xs:attribute name="AllocationIDRef" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
	<xs:complexType name="CoveredTravelersType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for information about the travelers requesting coverage by the insurance plan</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CoveredTraveler" type="CoveredTravelerType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Contains identifying information, coverage requirements and journey information for each individual requesting coverage by the insurance plan.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PolicyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains a all policy details of a single insurance plan.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PolicyDetail" type="PolicyDetailType">
				<xs:annotation>
					<xs:documentation>"attributes EffectiveDate and ExpireDate not in use"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CoveredTravelers" type="CoveredTravelersType" minOccurs="0"/>
			<xs:element name="InsCoverageDetail" type="InsCoverageDetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Provides vendor with information about the traveler(s)' requirements for insurance coverage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlanCost" type="PlanCostType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Contains information about the total price of the insurance plan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Services" type="InsuranceServicesType">
				<xs:annotation>
					<xs:documentation xml:lang="de">insurance services</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtendedServices" type="ExtendedInsuranceServicesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">extended insurance services</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="ContactPersonType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">"Not in use" Defines contact information for an individual or company (for example, the provider's callcenter number or claims hotline).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceCustomer" type="InsuranceCustomerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>policy holder information, only in use:
 0..2 Telephone, 0..1 Email, 1 Address, 0..1 PaymentForm. 

For Address in use: 
1 StreetNmbr, 1 CityName, 1 PostalCode, 1 CountryName and 0..1 CompanyName, 0..1 AddressLine    

For PaymentForm only in use: 
PaymentCard or BankAcct

For PaymentCard in use:
1 CardCode, 1 CardNumber, 1 ExpireDate, 1 CardHolderName, 0..1 CardHoldterRPH (Verification code)

For BankAcct in use:
1 BankID, 1 BankAcctNumber, 0..1 BankAcctName, 0..1 BankName</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryAttribs" type="SupplementaryAttribsType" minOccurs="0" maxOccurs="1"/>
			<!-- BE 12.10.05 -->
		</xs:sequence>
		<xs:attributeGroup ref="PlanID_Group"/>
		<xs:attribute name="RPH" type="RPH_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Maps plan booking response to single plan book request in the OTA_InsuranceBookRQ message</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="InsuranceCompany" type="StringLength2to4" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Insurance offering this plan.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!--BE 28.10.2005-->
	</xs:complexType>
	<xs:complexType name="PolicyRangeType">
		<xs:sequence>
			<xs:element name="FromPolicyNumber" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation xml:lang="en">To submit only one policy number (no range).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToPolicyNumber" type="xs:positiveInteger" minOccurs="0"/>
		</xs:sequence>
		<!--BE 28.10.2005-->
	</xs:complexType>
</xs:schema>
